version: "3.9"
services:

  nats:
    image: "ghcr.io/go-uniform/nats"
    volumes:
      - type: bind
        source: ./docker-compose-resources/ssl
        target: /etc/ssl
    ports:
      - 4222:4222
    command: "--tls --tlscert /etc/ssl/certs/uniform-nats.crt --tlskey /etc/ssl/private/uniform-nats.key"
    healthcheck:
      test: ["CMD", "/client", "test"]

  service-mongo:
    image: mongo
    volumes:
      - type: bind
        source: ./docker-compose-resources/ssl
        target: /etc/ssl
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    healthcheck:
      test: ["CMD", "mongosh", "--eval \"db.runCommand( { ping: 1 })\" | grep \"ok: 1\" || exit 1"]

  service-mongo-express:
    image: mongo-express
    depends_on:
      service-mongo:
        condition: service_healthy
    volumes:
      - type: bind
        source: ./docker-compose-resources/ssl
        target: /etc/ssl
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@service-mongo:27017/

  service-rabbitmq:
    image: "rabbitmq:management"
    volumes:
      - type: bind
        source: ./docker-compose-resources/ssl
        target: /etc/ssl
      - type: bind
        source: ./docker-compose-resources/service-rabbitmq/rabbitmq.conf
        target: /etc/rabbitmq/rabbitmq.conf
      - type: bind
        source: ./docker-compose-resources/service-rabbitmq/enabled_plugins
        target: /etc/rabbitmq/enabled_plugins
      - type: bind
        source: ./docker-compose-resources/service-rabbitmq/rabbitmq_delayed_message_exchange-3.11.1.ez
        target: /opt/rabbitmq/plugins/rabbitmq_delayed_message_exchange-3.11.1.ez
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: ["CMD", "/opt/rabbitmq/sbin/rabbitmqctl", "ping"]

  mongo:
    image: "ghcr.io/go-uniform/mongo"
    depends_on:
      nats:
        condition: service_healthy
      service-mongo:
        condition: service_healthy
    volumes:
      - type: bind
        source: ./docker-compose-resources/ssl
        target: /etc/ssl
    healthcheck:
      test: ["CMD", "/service", "command:ping"]
    command: "run"

  rabbitmq:
    image: "ghcr.io/go-uniform/rabbitmq"
    depends_on:
      nats:
        condition: service_healthy
      service-rabbitmq:
        condition: service_healthy
    volumes:
      - type: bind
        source: ./docker-compose-resources/ssl
        target: /etc/ssl
    healthcheck:
      test: ["CMD", "/service", "command:ping"]
    command: "run"

  infobip:
    image: "ghcr.io/go-uniform/infobip"
    depends_on:
      nats:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - type: bind
        source: ./docker-compose-resources/ssl
        target: /etc/ssl
    healthcheck:
      test: ["CMD", "/service", "command:ping"]
    command: "run --apiKey t --uri t --virtual"
